.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", sans-serif;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px 10px; */
}

.app-header h1 {
  font-size: 25px;
  margin: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.app-header h1:hover {
  color: red;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  box-shadow: 0 3px 6px 0 #555;
  padding: 20px 20px;
  border-radius: 12px;
  margin: 0 auto;
  width: 600px;
  /* height: 50vh; */
}

.card h1 {
  font-weight: 300;
  font-size: 30px;
}

.card h4 {
  font-weight: 200;
  font-size: 25px;
}

.card p {
  font-size: 15px;
  font-weight: 100;
}

.card .card-child {
  /* border: 2px solid red;
  border-radius: 10px; */
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 0px auto;
  max-width: 1080px;
  width: 90%;
} */

/* 
.input {
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  border: 3px solid dodgerblue;
  border-radius: 10px;
  font-size: 20px;
}

.input:focus {
  outline: none;
} */

/* .wrapper .city {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: black;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  color: dodgerblue;
  padding: 20px;
}

footer p {
  color: dodgerblue;
  margin: 0;
  font-size: 1.3rem;
  padding: 20px;
} */

/* .app.default {
  background-image: url("./assets/background-default.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.app.hot {
  background-image: url("./assets/background-image-hot.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: 0.4s ease-out;
  opacity: 0.95;
} */

/* .app.cold {
  background-image: url("./assets/background-image-cold.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
} */

/* .home::before {
  background: url("./assets/background-image1.jpg") no-repeat center
    center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */

/* .wrapper .weatherData {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;


  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.8);
} */

/* .temp,
.weatherIcon {
  display: inline-block;
} */

/* .weatherData .text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 30px;
}

.weatherData .bold {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  padding: 0;
} */

/* .query {
  padding: 50px;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.error {
  font-size: 40px;
  font-weight: 700;
}

.weatherIcon img {
  width: 150px;
  height: 150px;
} */ ;
